{% extends 'base.html.twig' %} {% block title %}Mon Programme d'Entraînement{%
endblock %} {% block body %}
<div class="container">
    <h1>Mon Programme d'Entraînement</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ workoutPlan.titles }}</h2>
            <p class="card-text">{{ workoutPlan.description }}</p>

            <div class="workout-info mb-3">
                <p><strong>Niveau :</strong> {{ workoutPlan.level.value }}</p>
                <p><strong>Type :</strong> {{ workoutPlan.type.value }}</p>
            </div>

            <a
                href="{{ path('workout_exercices', { id: workoutPlan.id }) }}"
                class="btn btn-primary"
            >
                <i class="fas fa-dumbbell"></i> Voir les Exercices
            </a>
        </div>
    </div>
</div>
{% endblock %}
