{% extends 'base.html.twig' %} {% block title %}Créer un compte{% endblock %} {%
block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/monProfile.css') }}" />
{% endblock %} {% block body %}

    <a href="{{ path('app_home') }}">
        <div class="back-button">
        <span class="back-icon"></span>
        <span>Retourner à l'Accueil</span>
        </a>
        <hr />
        <div class="monProfile-container">
        <div class="container mt-4">

        <div class="profile-section">

            <h2>Profil de {{ user.name }}</h2>

            <p><strong>Email :</strong> {{ user.email }}</p>
            <p><strong>Âge :</strong> {{ user.age }}</p>
            <p><strong>Taille :</strong> {{ user.height }} cm</p>
            <p><strong>Poids initial :</strong> {{ user.weight }} kg</p>

            <hr />

            <h3>Historique du poids</h3>
            {% if weights is not empty %}
            <ul>
                {% for w in weights %}
                <li>
                    {{ w.recordedAt ? w.recordedAt|date('d/m/Y') : '' }}
                    → {{ w.weightValue }} kg
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Aucun poids enregistré pour l’instant.</p>
            {% endif %}

            <hr />
            {% if goal is not null %}
              <p>{{ goal.type.value }}</p>
            {% else %}
                <p>Aucun objectif défini pour l’instant.</p>
                <a href="{{ path('goal') }}">Ajouter un objectif !</a>
            {% endif %}
            {# <h3>Objectif Actuel</h3>
            {% if goal %}
            <p><strong>Type d'objectif :</strong> {{ goal.type.value }}</p>
            <p><strong>Poids cible :</strong> {{ goal.targetWeight }} kg</p>
            {% else %}
            <p>Aucun objectif défini pour l’instant.</p>
            {% endif %}
            <hr /> #}

            
            <h3>Ajouter un nouveau poids</h3>
            <form method="post">
                <input
                    type="number"
                    name="weightValue"
                    step="0.1"
                    placeholder="Ex: 67.5"
                    required
                />
                <button type="submit">Enregistrer</button>
            </form>
        </div>

        {% for message in app.flashes('success') %}
        <div style="color: green">{{ message }}</div>
        {% endfor %} {% for message in app.flashes('error') %}
        <div style="color: red">{{ message }}</div>
        {% endfor %}
    </a>
</div>
</div>
{% endblock %}
