{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/home.css') }}" />
{% endblock %} {% block javascripts %} {% block importmap %}
{{ importmap("app") }}
{% endblock %}
<script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
<section class="hero">
    <img
        src="https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg"
        alt="Fitness Image"
        class="hero-image"
    />

    <div class="hero-box">
        <h1>Un corps à <span>ton image</span></h1>
        <p>
            Suivez vos progrès en matière de remise en forme ; atteignez vos
            objectifs de remise en forme et suivez vos progrès
        </p>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_register') }}" class="hero-btn">Rejoignez-nous</a>
        {% else %}
        <a href="{{ path('app_profile') }}" class="hero-btn">Mon Profil</a>
        {% endif %}
    </div>
</section>

{# cards of features #}

<section class="features my-5">
    <h1 class="mb-4">Votre ambition fitness ??</h1>
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="card card-custom h-100">
                <img
                    src="https://images.pexels.com/photos/6388453/pexels-photo-6388453.jpeg"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h2>Perte de poid</h2>
                    <p>
                        Some quick example text to build on the card title and
                        make up the bulk of the card’s content.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <div class="card card-custom h-100">
                <img
                    src="https://images.pexels.com/photos/5327511/pexels-photo-5327511.jpeg"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h2>Prise de masse</h2>
                    <p>
                        Some quick example text to build on the card title and
                        make up the bulk of the card’s content.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <div class="card card-custom h-100">
                <img
                    src="https://images.pexels.com/photos/8032920/pexels-photo-8032920.jpeg"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <h2>Reprise</h2>
                    <p>
                        Some quick example text to build on the card title and
                        make up the bulk of the card’s content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{# section about #}
<section class="about row align-items-center">
    <div class="col-12 col-md-6 mb-4">
        <div class="card card-custom h-100">
            <h1>À propos de FitProgress</h1>
            <p>
                FitProgress est une application de suivi de la condition
                physique conçue pour vous aider à atteindre vos objectifs de
                remise en forme. Que vous cherchiez à perdre du poids, à gagner
                du muscle ou à améliorer votre endurance, FitProgress est là
                pour vous soutenir à chaque étape de votre parcours.
            </p>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="card card-custom h-100">
            <img
                src="https://images.pexels.com/photos/6298479/pexels-photo-6298479.jpeg"
                alt="À propos FitProgress"
                class="card-image"
            />
        </div>
    </div>
</section>

{# Les faux avis #}

<section class="comments my-5">
    <h1 class="mb-4">Les avis de nos clients</h1>
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="card card-custom h-100">
                <img
                    src="https://images.pexels.com/photos/33740369/pexels-photo-33740369.png"
                    class="card-img-top"
                    alt="..."
                />
                <span class="star">★ ★ ★ ★ ★</span>
                <div class="card-body">
                    <p>I love this fitness app!! It has helped me stay</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card card-custom h-100">
                <img
                    src="https://images.pexels.com/photos/33740369/pexels-photo-33740369.png"
                    class="card-img-top"
                    alt="..."
                />
                <span class="star">★ ★ ★ ★ ★</span>
                <div class="card-body">
                    <p>I love this fitness app!! It has helped me stay</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card card-custom h-100">
                <img
                    src="https://images.pexels.com/photos/33740369/pexels-photo-33740369.png"
                    class="card-img-top"
                    alt="..."
                />
                <span class="star">★ ★ ★ ★ ★</span>
                <div class="card-body">
                    <p>I love this fitness app!! It has helped me stay</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
