{% extends 'base.html.twig' %} {% block title %}Créer un compte{% endblock %} {%
block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/registration.css') }}" />
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
/>
{% endblock %} {% block body %}
<main>
    <div class="form-container">
        <h1>Créer un compte</h1>

        {{ form_start(form, {'attr': {'class': 'registration-form'}}) }}

        <div class="input-group">
            <i class="bi bi-person icon"></i>
            {{ form_widget(form.name, {'attr': {'placeholder': 'Nom'}}) }}
        </div>

        <div class="input-group">
            <i class="bi bi-envelope icon"></i>
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
        </div>

        <div class="input-group">
            <i class="bi bi-lock icon"></i>
            {{ form_widget(form.plainPassword, {'attr': {'placeholder': 'Mot de passe'




            }}) }}
        </div>

        <div class="input-group">
            <i class="bi bi-calendar icon"></i>
            {{ form_widget(form.age, {'attr': {'placeholder': 'Âge'}}) }}
        </div>

        <div class="input-group">
            <i class="bi bi-rulers icon"></i>
            {{ form_widget(form.height, {'attr': {'placeholder': 'Taille (cm)'




            }}) }}
        </div>

        <div class="input-group">
            <i class="bi bi-scales icon"></i>
            {{ form_widget(form.weight, {'attr': {'placeholder': 'Poids de départ (kg)'




            }}) }}
        </div>
        <div class="form-check mb-3">
            {{ form_widget(form.agreeTerms, {'attr': {'class': 'form-check-input'



            }}) }}
        </div>

        <div class="d-grid mt-3">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-danger'}}) }}
        </div>

        {{ form_end(form) }}
    </div>
</main>
{% endblock %}
