{% extends 'base.html.twig' %} {% block title %}Exercices -
{{ workoutPlan.titles }}{% endblock %} {% block body %}
<div class="container">
    <h1 class="mb-4">Exercices for {{ workoutPlan.titles }}</h1>

    <div class="row">
        {% for exercice in exercices %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    {% if exercice.image %}
                    <img
                        src="{{ asset('images/exercices/' ~ exercice.image) }}"
                        class="card-img-top"
                        alt="{{ exercice.name }}"
                        style="height: 200px; object-fit: cover"
                    />
                    {% else %}
                    <img
                        src="{{ asset('images/exercices/default.jpg') }}"
                        class="card-img-top"
                        alt="Default exercise image"
                        style="height: 200px; object-fit: cover"
                    />
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ exercice.name }}</h5>
                        <p class="card-text">{{ exercice.description }}</p>
                        <ul class="list-unstyled">
                            <li><strong>Sets:</strong> {{ exercice.sets }}</li>
                            <li><strong>Reps:</strong> {{ exercice.reps }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-12">
                <div class="alert alert-info">
                    No exercices available for this workout plan yet.
                </div>
            </div>
            {% endfor %}
        </div>

        <a
            href="{{ path('workout_plan_show') }}"
            class="btn btn-secondary mt-3"
        >
            <i class="fas fa-arrow-left"></i> Back to workout plans
        </a>
    </div>
    {% endblock %}
</div>
