{% extends 'base.html.twig' %} {% block title %}Choix de l'objectif{% endblock
%} {% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('styles/goal.css') }}" />
{% endblock %} {% block javascripts %} {% block importmap %}
{{ importmap("app") }}
{% endblock %}

<script src="{{ asset('js/goal.js') }}"></script>

{% endblock %} {% block body %}
<div class="goal-container">
    <!-- Back button -->
    <div class="back-button">
        <a href="{{ path('app_home') }}">
            <span class="back-icon">←</span>
            <span>Retourner au site</span>
        </a>
    </div>

    <!-- Title -->
    <h2 class="goal-title">Quel est ton objectif?</h2>

    <!-- Options -->
    <form method="post" class="goal-form">
        <div class="goal-options">
            <!-- Option 1 -->
            <label class="goal-card">
                <input type="radio" name="goal" value="prise_de_masse" hidden />
                <div class="goal-content">
                    <div class="goal-icon">🏋️</div>
                    <h3>Prendre du muscle</h3>
                    <p>Programme basé sur la musculation progressive</p>
                </div>
            </label>

            <!-- Option 2 -->
            <label class="goal-card">
                <input type="radio" name="goal" value="perte_de_poids" hidden />
                <div class="goal-content">
                    <div class="goal-icon">⚡</div>
                    <h3>Perdre du poid</h3>
                    <p>Programme axé sur la perte de poids</p>
                </div>
            </label>

            <!-- Option 3 -->
            <label class="goal-card">
                <input
                    type="radio"
                    name="goal"
                    value="reprise_du_sport"
                    hidden
                />
                <div class="goal-content">
                    <div class="goal-icon">⚡</div>
                    <h3>Maintenir du poid</h3>
                    <p>Programme axé sur la perte de poids</p>
                </div>
            </label>
        </div>
        <div>
            <input type="number" name="target_weight" value="70" />
            <label for="target_weight">Poid cible</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="submit-btn">Valider mon objectif</button>
    </form>
</div>
{% endblock %}
