<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {# Logo (navbar-brand) #}
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img
                src="{{ asset('assets/images/logo.svg') }}"
                alt="FitProgress Logo"
                width="150"
            />
        </a>

        {# Bouton mobile #}
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Menu #}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}"
                        >Accueil</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            {# Auth section alignée à droite #}
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"
                        >Logout</a
                    >
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
